@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
    --fonte1: 'Inter', sans-serif;
    --fonte2: 'Lexend Deca', sans-serif;

    --azul-background: hsl(233, 47%, 7%);
    --azul-card:hsl(244, 38%, 16%);
    --violeta-destaque: hsl(277, 64%, 61%);

    --branco: hsl(0, 0%, 100%);
    --branco-p: hsla(0, 0%, 100%, 0.457);
    --branco-h1: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: var(--azul-background);
    height: 100%;    
    /* display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center; */
    /* padding: 30px; */
}

section {
    margin: 23px auto;    
    background-color: var(--azul-card);
    width: 20rem;
    height: 41rem;
    border-radius: 0.625rem;
    font-size: 0.8rem;
}

img.header-mobile {    
    width: 100%;
    border-radius: 0.625rem;
    /* padding-bottom: 0.2%; */
}

div.textos {
    height: 360px;
    width: 270px;
    margin: 0 auto;
}

h1 {
    font-family: var(--fonte1);
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: var(--branco-h1);
    padding: 1.3rem 0 0 0;
    margin: 0 0 1.2rem 0 ;    
}

span.insights {
    color: var(--violeta-destaque);
}

p {
    font-family: var(--fonte2);
    text-align: center;
    margin: 1.2rem 1.3rem;  
    line-height: 1.2rem;  
    color: var(--branco-p);
}

p.texto {
    margin-bottom: 1.5rem;    
}

p.dados {    
    text-transform: uppercase;
}

span.numeros {
    color:var(--branco-h1);
    font-family: var(--fonte1);
    font-weight: 700;
    font-size: 23px;
    display: block;
    margin-bottom: 1px;
}

@media (min-width: 846px) and (min-height: 412px) {
    
    body {
        height: 100vh;
        display: flex;            
        align-items: center;
        justify-content: center;
    }

    section {
        display: flex;
        flex-direction: row-reverse;
        height: 75%;
        width: 80%;
        border-radius: 0.625rem;
        font-size: 1rem;
        margin: 5%;        
    }
    
    div.textos {
        width:40%;
        height: 50%;
        margin: 0 auto;
        padding-top: 5%;
        padding-bottom: 5%;
        
    }

    h1 {
        font-family: var(--fonte1);
        font-weight: 700;
        font-size: 2.5rem;
        text-align: left;
        color: var(--branco-h1);        
        padding-left: 1.2rem;
            
    }

    span.insights {
        color: var(--violeta-destaque);
    }

    p {
        font-family: var(--fonte2);
        text-align: left;
        font-size: 1.1rem;
        line-height: 1.8rem;  
        color: var(--branco-p);
        display: inline-block;
    }

    p.texto {
        margin-bottom: 4rem;
    }

    p.dados {
        font-size: 1rem;
        margin-bottom: 2.5rem;
        text-transform: uppercase;
    }
    
    span.numeros {
        color:var(--branco-h1);
        font-family: var(--fonte1);
        font-weight: 700;
        font-size: 27px;
        display: block;
        /* margin-bottom: 5px; */
    } 

    img.header-mobile {  
        border-radius: 0 0.625rem  0.625rem 0 ;
        width: 50%;
        padding-bottom: 0px;  
    }

}

















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }